@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-lg-9">
        <div class="main-content">
            @RenderBody()
        </div>
    </div>
    <div class="col-lg-3">
        <div class="sidebar">
            @RenderSection("MainContentSidebar", required: false)
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("MainContentSidebarScripts", required: false)
}