.account-nav {
    position: relative;
    height: 54px;
    display: flex;
    align-items: center;
    .dropdown-account {
        text-decoration: none;
        color: white;
        margin-left: .7em;
        i {
            font-size: 1.7em;
        }
    }
    .dropdown-account::after
    {
        display: none;
    }
    .dropdown-account:hover,
    .dropdown-account:active,
    .dropdown-account:focus {
        color: rgb(90, 218, 175);
    }

    .dropdown-menu {
        position: absolute;
        background-color: #8caaaf;
        z-index: 1000;
    }
    .dropdown-menu::before {
        content: "";
        position: absolute;
        top: -5px;
        right: 28px;
        width: 20px;
        height: 20px;
        background-color: #8caaaf;
        transform: rotate(45deg);
        z-index: -1;
    }
    .login {
        animation: slideup-login 0.5s ease;
        transform: translateX(-45%) translateY(1.2%);
        padding: 5px 4px;
        font-size: .8rem;

        .dropdown-divider {
            color: black;
        }

        a {
            margin-top: 0.3em;
            margin-bottom: 0.3em;
        }
        a:hover,
        a:active {
            font-weight: bold;
            background-color: #8caaaf;
        }

        .avatar-img {
            border-radius: 8px !important;
            width: 3.5em;
            height: auto;
        }

        .user-box {
            display: flex;
            align-items: center;
            padding: 10px;

            .avatar-lg {
                margin-right: 15px;
            }

            .u-text {
                display: flex;
                flex-direction: column;
                
                .btn-manage {
                    font-weight: 900;
                }
                .btn-manage:hover {
                    opacity: 1;
                    color: black;
                }
                p {
                    margin: 0;
                    color: black;
                    opacity: 0.8;
                }
                p.email {
                    opacity: 0.5;
                }
                a {
                    text-decoration: none;
                    color: #313030
                }
            }
        }
    }
    @keyframes slideup-login {
        from {
            transform: translateY(-10%) translateX(-45%);
            opacity: 0;
        }
    
        to {
            transform: translateY(1.2%) translateX(-45%);
            opacity: 1;
        }
    }

    .logout {
        animation: slideup-logout 0.5s ease;
        transform: translateX(-78%) translateY(3%);
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 10px;

        .btn-login {
            background-color: #658F94;
            border: 1px solid #5a5a5a;
        }
        
        .btn-login:hover {
            background-color: #5a9ba1;
        }
        
        .hr-text {
            border: 0;
            font-size: 14px;
            height: 1.5em !important;
            line-height: 1em;
            position: relative;
            text-align: center;
            background-color: #8caaaf;
        }
        
        .hr-text::before {
            content: "";
            background: rgb(0, 0, 0);
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: 1px;
        }
        
        .hr-text::after {
            background-color: #8caaaf;
            color: rgb(0, 0, 0);
            content: attr(data-content);
            line-height: 1.5em;
            padding: 0 7px;
            position: relative;
        }
        
        .external-login {
            color: rgb(0, 0, 0);
            border: 1px solid #5a5a5a;
            padding: 8px 20px;
            border-radius: 3rem;
            text-align: center;
            font-size: 90%;
        }
        
        .external-login:hover {
            background-color: #5a9ba1;
            color: rgb(0, 0, 0);
            border: 1px solid #5a5a5a;
        }
    }
    @keyframes slideup-logout {
        from {
            transform: translateY(-10%) translateX(-78%);
            opacity: 0;
        }
    
        to {
            transform: translateY(3%) translateX(-78%);
            opacity: 1;
        }
    }
}

@media (max-width: 768px) {
    .account-nav {
        .dropdown-menu::before {
            right: 84%;
        }
        .login {
            transform: translateY(1.5%);
            border: none;
        }
        @keyframes slideup-login {
            from {
                transform: translateY(-10%) translateX(0);
                opacity: 0;
            }
        
            to {
                transform: translateY(1.5%) translateX(-0);
                opacity: 1;
            }
        }

        .logout {
            transform: translateY(4.6%);
            border: none;
            &::before {
                right: 88%;
            }
        }
        @keyframes slideup-logout {
            from {
                transform: translateY(-10%);
                opacity: 0;
            }
        
            to {
                transform: translateY(4.5%);
                opacity: 1;
            }
        }
    }
}