.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px; 
}

.logo-text {
    font-size: 1.35rem;
    color: white;
    margin: 0;
}

.navbar-header {
    background-color: #2C3E50 !important;
}

.profile-username {
    color: white;
}