.contact-detail {
    .title h2 {
        border: 1px solid #9c9c9c;
        border-radius: 4px;
        background-color: #28646bff;
        color: white;
        box-shadow: inset 0 0 8px #2e2e2e;
        font-size: 1.7rem;
        font-weight: bold;
        padding: 1rem 1rem;
        margin-bottom: 1.5rem;
    }
    .content {
        .card {
            background-color: #dfe2ff;

            .card-header {
                color: white;
                background-color: #45787d;
                h4 {
                    font-size: 1.5rem;
                    margin-bottom: 0;
                }
                display: flex;
                align-items: center;
                justify-content: space-between;
                .action-button {
                    margin-top: 0;
                    margin-left: auto;

                    .btn-response, .btn-delete {
                        border: 1px solid #777777;
                        border-radius: 15px;
                        padding: .2rem .7rem;
                        background: #1e4d53ff;
                        box-shadow: inset 0 0 5px #2e2e2e;
                        color: white;
                        p {
                            font-size: .8rem;
                            margin-bottom: 0;
                        }
                    }
                    .btn-response:hover {
                        box-shadow: 0 0 4px #2e2e2e;
                        background-color: rgb(30, 79, 145);
                    }
                    .btn-delete:hover {
                        background-color: #ad3333;
                        box-shadow: 0 0 4px #2e2e2e;
                    }
                }
            }
            .card-body {
                a {
                    text-decoration: none;
                }
                .text-body {
                    margin-left: 1rem;
                    font-size: .9rem;
                }

                .form-response {
                    textarea {
                        min-height: 200px;
                    }
                    textarea:focus {
                        outline: none !important;
                        box-shadow: none;
                        transform: none;
                        border: 1px solid #9c9c9c;
                    }
                    button {
                        color: white;
                        margin-top: .7rem;
                        border: none;
                        border-radius: 20px;
                        background-color: #28646b;
                        padding: .4rem 1.5rem;
                    }
                    button:hover {
                        background-color: rgb(21, 53, 56);
                    }
                }
            }
        }

        .action-button {
            margin-top: 1rem;
        }
    }
}