body .footer {
    background-color: #164246;
    color: #fff;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        .footer-left {
            flex: 1;
            p {
                font-size: 15px;
                margin: 0;
            }
        }

        .footer-middle ul,
        .footer-right ul {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .footer-middle li,
        .footer-right li {
            margin: 0 10px;
        }

        .footer-middle a,
        .footer-right a {
            color: #fff;
            text-decoration: none;
            font-weight: 500;
        }
        .footer-middle a:hover,
        .footer-right a:hover {
            text-decoration: underline;
        }

        .footer-right {
            .social-links {
                display: flex;
            }
            
            .social-icon {
                color: #fff;
                font-weight: bold;
            }
            
            .social-icon:hover {
                color: #5ADAAF;
            }
        }
    }
}

@media (max-width: 768px) {
    .footer .container {
        flex-direction: column;
    }
    .footer-middle, .footer-right {
        font-size: .9rem;
        border-top: 1px solid #686868;
        padding-top: .7rem;
    }
    
    .footer-left, .footer-middle, .footer-right {
        width: 100%;
        margin-bottom: 10px;
    }
}