@use "_posts-list.scss";

.main-content {
    // Latest Posts
    .latest-posts {
        //Paging
        .pagination {
            justify-content: left !important;
            margin: .7rem 0rem;
            font-size: .7rem;
            .page-item .page-link {
                border-radius: 1px !important;
            }
        }

        .title h2 {
            border: 1px solid #9c9c9c;
            border-radius: 4px;
            background-color: #28646bff;
            color: white;
            box-shadow: inset 0 0 8px #2e2e2e;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 1rem 1rem;
            margin-bottom: 2rem;
        }
    }
}