* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #28646B;
    padding-top: 70px;
    margin-bottom: 0;

    // navbar
    .navbar {
        background-color: #0f2d30ff;

        .nav-link,
        .navbar-brand {
            color: white !important;
            padding-left: .7em;
        }

        .navbar-brand {
            display: inline-block;
            white-space: normal;
            text-align: center;
            word-break: break-all;
            align-items: center;
            max-width: fit-content;
            padding: 0;
            flex-grow: 0;

            img {
                max-width: 2.3em;
                height: auto;
                margin-right: 0.3em;
            }

            p {
                margin: 0;
                display: inline-block;
                white-space: normal;
                text-align: left;
            }
        }

        .nav-link {
            margin: 0 .4rem;
        }

        .navbar-brand:hover,
        .navbar-brand:active {
            color: #5ADAAF !important;
        }

        .nav-link:hover {
            color: #5ADAAF !important;
            text-decoration: underline;
        }
        
        .nav-link.active {
            color: #5ADAAF !important;
            text-decoration: underline;
        }
    }

    //Main
    main {
        background-color: #f9f9f9;
        padding: 2em 5em;
        min-height: 86vh ;
    }
    main.box-shadow {
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
    }

    //Footer
    // .footer {
    //     position: absolute;
    //     bottom: 0;
    //     width: 100%;
    //     white-space: nowrap;
    //     line-height: 60px;
    // }
}

@media (max-width: 768px) {
    body {
        main {
            padding: 1rem 1rem;
        }
    }
}