.profile-card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-thumbnail {
    object-fit: cover;
}

.post-item:hover {
    background-color: #d3d3d3;
}
.post-thumbnail {
    margin-right: 15px;
    width: 250px !important; 
    height: 150px; 
    object-fit: cover;
}
.post-content {
    display: -webkit-box;           
    -webkit-box-orient: vertical;  
    -webkit-line-clamp: 3; 
    line-clamp: 3; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;  
}
.info-label {
    font-weight: bold;
}
.online-indicator {
    display: inline-block;
    margin-top: 5px;
    height: 4px;
    width: 150px;
    background: linear-gradient(90deg, #01aa01, #008000, #004e00);
    border-radius: 2px;
    animation: pulse-green 2s infinite alternate;
}

.offline-indicator {
    display: inline-block;
    margin-top: 5px;
    height: 4px;
    width: 150px;
    background: linear-gradient(90deg, #ff0000, #800000, #350000);
    border-radius: 2px;
    animation: pulse-red 2s infinite alternate;
}
@keyframes pulse-green {
    0% {
        background: #01aa01;
    }
    50% {
        background: #008000;
    }
    100% {
        background: #004e00;
    }
}

@keyframes pulse-red {
    0% {
        background: #ff0000;
    }
    50% {
        background: #800000;
    }
    100% {
        background: #350000;
    }
}