@use "_posts-list.scss";

.main-content {
    //Paging
    .pagination {
        justify-content: left !important;
        margin: .7rem 0rem;
        font-size: .7rem;
        .page-item .page-link {
            border-radius: 1px !important;
        }
    }

    // Posts
    .search-result {
        p.title-page {
            font-size: 1.1rem;
        }
    }
}