.title h2 {
    border: 1px solid #9c9c9c;
    border-radius: 4px;
    background-color: #28646bff;
    color: white;
    box-shadow: inset 0 0 8px #2e2e2e;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 1rem;
    margin-bottom: 1.5rem;
}

.send-contact {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

    .col-md-4 {
        border-radius: 10px 0 0 10px;
        background: linear-gradient(45deg, rgba(2, 33, 64, 0.8) 55%, rgba(45, 95, 93, 0.85));
        padding: 1.5rem 1.2rem;

        .contact-intro {
            .slogan {

                h2,
                h4 {
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                }

                h2 {
                    color: #5ADAAF;
                    font-size: 1.4rem;
                    margin-bottom: 1.3rem;
                }

                h4 {
                    color: white;
                    font-size: 14px;
                    font-weight: lighter;
                    line-height: 1.5rem;
                    opacity: 0.8;
                }
            }

            .contact-info {
                margin-top: 5rem;
                color: white;

                p {
                    display: flex;
                    align-items: center;
                    font-size: .8rem;

                    i {
                        font-size: 1.3rem;
                        margin-right: .4rem;
                    }
                }

                .items {
                    margin-top: 7rem;

                    i {
                        font-size: 1.2rem;
                        margin-right: .9rem;
                        cursor: pointer;
                    }
                    i:hover {
                        color: #5ADAAF;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    .col-md-8 {
        background-color: #dfe2ff;
        padding: 1.2rem;
        border-radius: 0 10px 10px 0;

        .send-contact-form form {
            .form-group {
                position: relative;
                margin-bottom: 1rem;

                .input-container {
                    position: relative;

                    span {
                        position: absolute;
                        top: 0;
                        left: 19px;
                        transform: translateY(-50%);
                        font-size: 0.8rem;
                        padding: 0 0.4rem;
                        color: transparent;
                        pointer-events: none;
                        z-index: 500;
                    }

                    span:before,
                    span:after {
                        content: "";
                        position: absolute;
                        width: 10%;
                        opacity: 0;
                        transition: 0.3s;
                        height: 5px;
                        background-color: #dfe2ff;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    span:before {
                        left: 50%;
                    }

                    span:after {
                        right: 50%;
                    }

                    input,
                    textarea {
                        background-color: #dfe2ff;
                        border: 1px solid #919191;
                        border-radius: 20px;
                    }

                    input:focus,
                    textarea:focus {
                        outline: none !important;
                        box-shadow: none;
                        transform: none;
                    }

                    textarea {
                        resize: none;
                        min-height: 200px;
                    }

                    label {
                        position: absolute;
                        top: 50%;
                        left: 15px;
                        transform: translateY(-50%);
                        font-size: 0.9rem;
                        font-weight: 400;
                        pointer-events: none;
                        z-index: 1000;
                        transition: 0.5s;
                    }
                }

                .textarea label {
                    top: 1rem;
                    transform: translateY(0);
                }

                .input-container.focus label {
                    top: 0;
                    transform: translateY(-50%);
                    left: 25px;
                    font-size: 0.8rem;
                }

                .input-container.focus span:before,
                .input-container.focus span:after {
                    width: 50%;
                    opacity: 1;
                }

                .text-danger {
                    font-size: 0.8rem;
                    color: red;
                    margin-top: 0.2rem;
                    opacity: 0.8;
                }
            }

            button {
                border-radius: 20px;
                padding: .4rem 1.5rem;
                background-color: #28646bff;
                border: none;
                i {
                    margin-right: .3rem;
                }
            }
            button:hover {
                background-color: rgb(21, 53, 56);
            }
        }
    }
}

@media (max-width: 768px) {
    .send-contact {
        .col-md-4 {
            border-radius: 10px 10px 0 0;
        }
        .col-md-8 {
            border-radius: 0 0 10px 10px;
        }
    }
}