html {
    font-size: 14px;
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
  }
  
  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    margin-bottom: 60px;
  }

  .tooltip-text {
    position: relative; /* Cần thiết cho việc hiển thị tooltip */
}

.tooltip-text::after {
    content: ""; /* Nội dung mặc định là rỗng */
    position: absolute;
    top: 50%; /* Đặt tooltip giữa chiều dọc của phần tử */
    left: 50%; /* Đặt tooltip ở bên phải phần tử */
    transform: translateY(-50%); /* Canh giữa tooltip theo chiều dọc */
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.75); /* Màu nền tooltip */
    color: white; /* Màu chữ */
    border-radius: 5px;
    font-size: 14px;
    opacity: 0; /* Tooltip ẩn mặc định */
    visibility: hidden; /* Tooltip ẩn mặc định */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Hiệu ứng mượt mà khi hiển thị */
    white-space: normal; /* Cho phép text trong tooltip xuống dòng */
    max-width: 200px; /* Giới hạn chiều rộng của tooltip để text không quá dài */
    word-wrap: break-word; /* Tự động xuống dòng khi text dài */
}

.tooltip-text:hover::after {
    content: attr(data-tooltip);
    opacity: 1;
    visibility: visible;
}