@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a asp-area="Database" asp-controller="DbManage" asp-action="Index">Quản lý Database</a>
<a asp-area="Identity" asp-controller="Role" asp-action="Index">Quản lý Role</a>
<a asp-area="Identity" asp-controller="User" asp-action="Index">Quản lý User</a>
<a asp-area="Post" asp-controller="Category" asp-action="Index">Quản lý Cate</a>
<a asp-area="Post" asp-controller="Post" asp-action="ManagePost">Quản lý Post</a>