* {
    color: #0f2d30ff; /* gunmetal */
    color: #14373bff; /* midnight-green */
    color: #1e4d53ff; /* midnight-green-2 */
    color: #28646bff; /* caribbean-current */
    color: #45787dff; /* myrtle-green */
}