@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<hr>

<div id="_StatusMessage"></div>

<form asp-action="ChangePassword" id="edit-password-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-group mb-3">
        <label asp-for="OldPassword" class="form-label"></label>
        <input asp-for="OldPassword" class="form-control" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="NewPassword" class="form-label"></label>
        <input asp-for="NewPassword" class="form-control" id="password"/>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" id="password"/>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button id="update-password-button" type="submit" class="btn btn-sm btn-primary">Cập nhập</button>
</form>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $(document).ready(function () {
            const PasswordInput = $('#password');

            // Remove whitespaces automatically while typing
            PasswordInput.on('input', function () {
                const value = $(this).val();
                $(this).val(value.replace(/\s/g, ''));
            });

            $('#edit-password-form').on('submit', function (e) {
                e.preventDefault();

                const form = $(this);
                const submitButton = $('#update-password-button');
                const url = form.attr('action');
                const formData = form.serialize();

                submitButton.prop('disabled', true);

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (response) {
                        if (response.redirect) {
                            window.location.href = response.redirect;
                        }
                        $('#_StatusMessage').load("@Url.Action("GetStatusMessage")");
                    },
                    complete: function () {
                        submitButton.prop('disabled', false);
                    }
                });
            });
        });
    </script>
}
